body {
background-color:rgb(63, 61, 61);

}

h1 {
  color:white;
  font-family: fantasy;
  font-size: 20px;
}





body, html {
  height: 50%;
}

.bg {
  /* The image used */
  background-image: url();

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

